*{
    padding: 0;
    margin: 0;
    font-family: "Rubik";
}

body{
    background: #ffffff;
}

.navbar{
    max-width: 1140px;
    margin: 0 auto;
    padding: 50px 0px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar-list {
    display: flex;
    gap: 40px;
    justify-content: space-between;
}

.navbar-list ul{
    list-style-type: none;
}

.navbar-list a{
    text-decoration: none;
    color: #4F5665;
}

.navbar-auth button{
    background-color: transparent;
    padding: 13px 45px;
    font-weight: 500;
}

.navbar-auth button:first-child{
    color: #0B132A;
    border: none;
}

.navbar-auth button:last-child{
    color: #F53855;
    border: 1px solid #F53855;
    border-radius: 50px;
}


.hero{
    max-width: 1140px;
    margin: 0 auto;
    padding: 30px 0px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.hero-text{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.hero-text h1{
    font-size: 50px;
    font-weight: 500;
    color: #0B132A;
    margin-bottom: 20px;
}

.hero-text h1 span{
    font-weight: bold;
}

.hero-text p{
    color: #4F5665;
    margin-bottom: 50px;
}

.hero-text button{
    width: 250px;
    background-color: #F53838;
    color: #ffffff;
    font-weight: bold;
    border: none;
    padding: 17px;
    border-radius: 10px;
    box-shadow: 0px 28px 50px -6px rgba(245, 56, 56, 0.4);
}

.provide-wrapper{
    padding: 50px 0px;
}

.provide{
    max-width: 1140px;
    height: 200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-radius: 10px;
    box-shadow: 0px 22px 23px -10px rgba(13, 16, 37, 0.1);
}

.provide-content-divider{
    width: 2px;
    height: 65%;
    background-color: #EEEFF2;
}

.provide-content{
    display: flex;
    align-items: center;
    gap: 35px;
}

.provide-logo{
    width: 55px;
    height: 55px;
    border-radius: 50%;
    background-color: #FFECEC;
    color: #F53838;
    line-height: 55px;
    text-align: center;
}

.provide-text p:first-child{
    font-size: 25px;
    font-weight: bold;
    color: #0B132A;
}

.provide-text p:last-child{
    font-size: 20px;
    color: #4F5665;
}

.feature-wrapper{
    padding: 50px 0px;
}

.feature{
    max-width: 1140px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 170px;
}

.feature-text{
    width: 420px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.feature-text h1{
    font-size: 35px;
    font-weight: 500;
    color: #0B132A;
}

.feature-text p{
    color: #4F5665;
}

.feature-text-list{
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.feature-text-list ul{
    line-height: 30px;
    --fa-li-width: 60px;
}

.feature-text-list ul li{
    margin-bottom: 15px;
    font-size: 14px;
    color: #4F5665;
}

.feature-text-list-data{
    display: flex;
    align-items: center;
    gap: 10px;
}

.feature-text-list-text{
    color: #4F5665;
    font-size: 14px;
}

.feature-text-list-check{
    width: 20px;
    height: 20px;
    background-color: #2FAB73;
    border-radius: 20px;
}

.pricing-wrapper{
    padding: 50px 0px;
}

.pricing{
    max-width: 1140px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.pricing-text{
    max-width: 555px;
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-bottom: 60px;
}

.pricing-text p:first-child{
    font-size: 35px;
    font-weight: 500;
    color: #0B132A;
    margin-bottom: 20px;
}

.pricing-text p:last-child{
    color: #4F5665;
}

.pricing-card-list{
    display: flex;
    gap: 50px;
}

.pricing-card{
    background: #ffffff;
    border: 2px solid #dddddd;
    border-radius: 10px;
    width: 330px;
    height: 750px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 50px 70px;
    box-sizing: border-box;
}

.pricing-card:hover{
    border: 2px solid #F53838;
}

.pricing-card-top{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.pricing-card-top img{
    width: 80%;
}

.pricing-card-top .plan{
    font-size: 18px;
    font-weight: 500;
    color: #0B132A;
    text-align: center;
    padding: 30px 0px;
}

.pricing-card-feature{
    font-size: 14px;
    font-weight: 400;
    color: #4F5665;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.pricing-card-feature p i{
    width: 24px;
    height: 24px;
    background-color: #2FAB73;
}

.pricing-card-feature ul{
    /* list-style-type: none; */
    --fa-li-width: 40px;
    line-height: 30px;
}

.pricing-card-bottom{
    text-align: center;
}

.pricing-card-bottom p{
    font-size: 25px;
    font-weight: 500;
    color: #0B132A;
    margin-bottom: 20px;
}

.pricing-card-bottom p span{
    font-weight: 400;
    color: #4F5665;
}

.pricing-card-bottom button{
    background-color: transparent;
    width: 178px;
    color: #F53855;
    font-size: 16px;
    font-weight: bold;
    border: 2px solid #F53838;
    border-radius: 50px;
    padding: 13px 0px;
}

.pricing-card-bottom button:hover{
    color: #ffffff;
    background-color: #F53838;
    box-shadow: 0px 15px 50px -6px rgba(245, 56, 56, 0.4);
}

.location-wrapper{
    padding: 50px 0px;
}

.location{
    max-width: 1140px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.location h3{
    width: 380px;
    font-size: 35px;
    font-weight: 500;
    color: #0B132A;
    text-align: center;
    margin-bottom: 20px;
}

.location p{
    width: 555px;
    text-align: center;
    font-size: 16px;
    font-weight: 400;
    color: #4F5665;
    margin-bottom: 150px;
}

.location p span{
    font-weight: 500;
}

.sponsor-wrapper{
    padding: 50px 0px;
}

.sponsor{
    max-width: 1140px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.sponsor img{
    width: auto;
    height: auto;
}

.testimonial-wrapper{
    padding: 50px 0px 180px 0px;
}

.testimonial{
    overflow: hidden;
    max-width: 1140px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.testimonial-title{
    width: 450px;
    font-size: 35px;
    font-weight: 500;
    color: #0B132A;
    text-align: center;
    margin-bottom: 20px;
    line-height: 50px;
}

.testimonial-description{
    width: 555px;
    font-size: 16px;
    color: #4F5665;
    text-align: center;
    line-height: 30px;
}

.testimonial-card-list{
    margin: 60px 0px;
    display: flex;
    justify-content: flex-start;
    gap: 50px;
}

.testimonial-card{
    width: 400px;
    height: 230px;
    border-radius: 10px;
    padding: 30px;
    box-sizing: border-box;
    border: 2px solid #dddddd;
}

.testimonial-card-top{
    display: flex;
    justify-content: space-between;
    margin-bottom: 5px;
}

.testimonial-card-profile{
    display: flex;
    gap: 20px;
    align-items: center;
}

.testimonial-card-profile-image{
    width: 50px;
    height: 50px;
    overflow: hidden;
    border-radius: 50%;
}

.testimonial-card-profile img{
    width: 100%;
    height: auto;
}

.testimonial-card-text p:first-child{
    font-size: 18px;
    font-weight: 500;
    color: #0B132A;
}
.testimonial-card-text p:last-child{
    font-size: 14px;
    color: #4F5665;
}

.testimonial-rating{
    display: flex;
    align-items: center;
    gap: 10px;
}

.testimonial-card-bottom{
    font-size: 16px;
    color: #0B132A;
    line-height: 30px;
}

.testimonial-navigation{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.testimonial-pagination{
    color: #F53838;
}

.testimonial-button button{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: none;
}

.testimonial-button button:first-child{
    color: #F53838;
    background: #ffffff;
    border: 2px solid #F53838;
    margin-right: 20px;
}
.testimonial-button button:last-child{
    color: #fff;
    background: #F53838;
}

.testimonial-button button img{
    padding: 15px;
}

.subscribe-wrapper{
    background-color: #f8f8f8;
    position: relative;
    height: 190px;
}

.subscribe{
    background-color: #ffffff;
    max-width: 1140px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    padding: 60px 70px;
    box-sizing: border-box;
    align-items: center;
    border-radius: 10px;
    box-shadow: 0px 0px 34px -3px rgba(0,0,0,0.1);
    bottom: 125px;
    position: relative;
    z-index: 10; 
}

.subscribe-description{
    width: 410px;
}

.subscribe-description p:first-child{
    width: 370px;
    font-size: 35px;
    font-weight: 500;
    line-height: 45px;
    margin-bottom: 20px;
}

.subscribe-description p:last-child{
    font-size: 16px;
    color: #4F5665;
}

.subscribe button{
    width: 250px;
    height: 60px;
    color: #ffffff;
    font-weight: bold;
    font-size: 16px;
    border-radius: 10px;
    background-color: #F53838;
    border: none;
    box-shadow: 0px 32px 50px -6px rgba(245, 56, 56, 0.4);
}

.footer-wrapper{
    padding: 0px 0px 100px 0px;
    background-color: #f8f8f8;
    position: relative;
    z-index: -11;
}

.footer{
    max-width: 1140px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    
}

.footer-left{
    width: 340px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.footer-description{
    font-size: 16px;
    color: #4F5665;
    line-height: 30px;
}

.footer-social-media{
    display: flex;
    gap: 20px;
}

.social-media{
    width: 33px;
    height: 33px;
    border-radius: 50%;
    text-align: center;
    line-height: 33px;
    background-color: #ffffff;
    color: #F53838;
    box-shadow: 0px 15px 24px 3px rgba(0,0,0,0.1);
}

.footer-description span{
    font-weight: 500;
}

.footer-copyright{
    font-size: 16px;
    color: #4F5665;
}
.footer-copyright span{
    font-weight: 500;
}

.footer-right{
    display: flex;
    gap: 125px;
}

.footer-list-page{
    display: flex;
    flex-direction: column;
    gap: 20px;
    line-height: 30px;
}

.footer-list-page p{
    font-size: 18px;
    font-weight: 500;
    color: #0B132A;
}

.footer-list-page ul{
    list-style-type: none;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.footer-list-page ul li:hover{
    cursor: pointer;
}

.footer-list-page ul li a{
    font-size: 16px;
    text-decoration: none;
    color: #4F5665;
}